# Si JWT_SECRET no esta seteado, se genera uno automaticamente al primer arranque
# JWT_SECRET=
# JWT_ALGORITHM=HS256
# JWT_EXPIRE_DAYS=30

API_HOST=0.0.0.0
API_PORT=5999

# CORS: "*" abierto a todo. Si vas a restringir poner lista separada por coma.
# CORS_ORIGINS=http://192.168.0.10,http://celular.local
CORS_ORIGINS=*
